@mixin font ($font-family, $weight: 700, $size: 0.75rem, $style: normal){
    font-family: $font-family; 
    font-weight: $weight;
    font-size: $size;
    font-style: $style;
}
$orange: #F2994A;
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
*/

main{
    padding: 0 0.75rem 0 0.6875rem;
    display: grid;
    
}

/*****  Icons   ******/

.material-icons{
    color:#C4C4C4;    
}

/************/


.title-recipe{
    padding-top: 2rem;
    p{
        @include font('Playfair Display', 700, 1.5rem);  
    }
    
}

.text-recipe {
    padding-top: 0.75rem;
    display: grid;
    grid-template-columns: auto 1fr;
    color: #4F4F4F;
    p{
        @include font('Montserrat', 500, 0.75rem, italic);
    }
    .material-icons{
        writing-mode: vertical-lr;
        padding-right: 0.75rem;
    }
}

.image-recipe{
    img{
        width: 100%;
        height: 100%;
        border-radius: 0.75rem;
    }
    padding-top: 0.75rem;
}

/***********/

.data-recipe{
    display: grid; 
        p{
            @include font('Montserrat', 700, 0.5rem, normal);
            color:#BDBDBD;
            
        }
        .material-icons{
            grid-row: span 2;
            padding-right: 0.33875rem;
        }
        .servings-color-special{
            @include font('Montserrat', 500, 0.625rem, normal);
            color: $orange;
            grid-column: 2; 
            padding-right: 0.6875rem;
        }
        .servings-color{
            @include font('Montserrat', 500, 0.625rem, normal);
            color: #333333;
            grid-column: 2; 
            padding-right: 0.6875rem;
        }
    
}

.servings-recipe{
    display: grid;
    grid-template-columns: auto 1fr;
    padding-top: 1.5rem;
    padding-bottom: 1.25rem;
        .material-icons{
            color: $orange;
        }
}

.time-recipe{
    display: grid;
    grid-template-columns: auto auto auto ;
    justify-self: start;
    padding-bottom: 1.875rem;
        div{
            display:grid;
            padding-right: 0.75rem;
        }
}


/***********/

.ingredients{
    padding-bottom: 0.8125rem;
        p{
            @include font('Playfair Display', 700, 1.125rem);
        }
}

.title-ingredients{
    padding-top: 1.25rem;
    padding-bottom: 1.4375rem;
        p{
            @include font('Playfair Display', 400, 1rem, italic);
        }
}

/*****   Checkbox   *****/


label{
    margin-bottom: 1.25rem;
    @include font('Montserrat', 400, 0.875rem);
        span{
            @include font('Montserrat', 700, 0.875rem);
        }
}

input {
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    width: 21px;
    height: 21px;
  }
  
/**/
.instructions-recipe{

    .title-recipe{
        padding-bottom: 1.75rem;
    }
}

.instructions-recipe-text{
    @include font('Montserrat', 400, 1rem);
    margin-bottom:  0.6875rem;
    display: grid;
    grid-template-columns: auto 1fr;
        span{
        @include font('Montserrat', 700, 1rem);
        }
        .number-instructions{
            width: 2.25rem;
            height: 2.25rem;
            background-color: #F2994A;
            color: white;
            border-radius: 0.375rem;
            width: 2.25rem;
            height: 2.25rem;
            margin-right: 1rem;
            display: grid;
            align-content: space-around;
            justify-content: space-around;
            margin-bottom: 1.875rem;
            @include font('Playfair Display', 700, 1.5rem);
        }
        p{
            margin-bottom: 1.875rem;
        }
}

.source{
    padding-top: 0.625rem;
    padding-bottom: 8.0625rem;
    p{
        @include font('Montserrat', 400, 0.75rem, italic);
    }
}

